<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Serigrafia</title>
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    
<header>
<nav class="nav">
    
<img class="logo" src="{{ url_for('static', filename='2558247.png') }}">

<button class="hamburger-icon"></button>
        
<ul class="nav_list">
<li><a href="{{ url_for('index') }}">Início</a></li>
<li><a href="{{ url_for('sobre') }}">Sobre</a></li>
<li><a href="{{ url_for('servicos') }}">Serviços</a></li>
<li><a href="{{ url_for('contato') }}">Contato</a></li>

</ul>
    </nav>
</header>
    <section class="hero">
<p>OFERECEMOS SERVIÇOS DE SERIGRAFIA DE ALTA QUALIDADE PARA ATENDER ÀS SUAS NECESSIDADES DE IMPRESSÃO.</p>
    </section>
<section class="galerias">
   <div id="inicio" class="galeria">
      <div class="swiper-container imagens swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="https://images.pexels.com/photos/1391293/pexels-photo-1391293.jpeg" alt="Trabalho de Serigrafia 1"></div>
                <div class="swiper-slide"><img src="https://images.pexels.com/photos/1391293/pexels-photo-1391293.jpeg" alt="Trabalho de Serigrafia 2"></div>
                <div class="swiper-slide"><img src="https://images.pexels.com/photos/1391293/pexels-photo-1391293.jpeg" alt="Trabalho de Serigrafia 3"></div>
            </div>
            <!-- Botões de navegação -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
        
        <p>IMPRESSÃO EM TECIDOS</p>
<a class="links" href="{{ url_for('servicos') }}">VER MAIS</a>
</div>

<div class="galeria">
        <div class="swiper-container imagens swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="https://images.pexels.com/photos/1391293/pexels-photo-1391293.jpeg" alt="Trabalho de Serigrafia 1"></div>
                <div class="swiper-slide"><img src="https://images.pexels.com/photos/1391293/pexels-photo-1391293.jpeg" alt="Trabalho de Serigrafia 2"></div>
                <div class="swiper-slide"><img src="https://images.pexels.com/photos/1391293/pexels-photo-1391293.jpeg" alt="Trabalho de Serigrafia 3"></div>
            </div>
            <!-- Botões de navegação -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
<p>IMPRESSÃO EM MATERIAIS PLÁSTICOS</p>
<a class="links" href="{{ url_for('servicos') }}">VER MAIS</a>
</div>


<div class="galeria">
        <div class="swiper-container imagens swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="https://images.pexels.com/photos/1391293/pexels-photo-1391293.jpeg" alt="Trabalho de Serigrafia 1"></div>
                <div class="swiper-slide"><img src="https://images.pexels.com/photos/1391293/pexels-photo-1391293.jpeg" alt="Trabalho de Serigrafia 2"></div>
                <div class="swiper-slide"><img src="https://images.pexels.com/photos/1391293/pexels-photo-1391293.jpeg" alt="Trabalho de Serigrafia 3"></div>
            </div>
            <!-- Botões de navegação -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
           <p>IMPRESSÃO EM PAPEL</p>
           <a  class="links" href="{{ url_for('servicos') }}">VER MAIS</a>
</div>
</section>



<a href="https://wa.me/5586999145517"><img class="icon_whatsaap" src="{{ url_for('static', filename='whatsapp.png') }}" ></a>
    <footer>
<!-- Adicione um rodapé com informações de contato ou links úteis -->
        <p>&copy; 2024 Seu Nome de Empresa</p>
<div class="rodape">
<a href="https://www.instagram.com/daviddev_ofc?igsh=NGVhN2U2NjQ0Yg=="><img src="{{ url_for('static', filename='INSTA.png') }}" ></a>
<a href="https://www.facebook.com/profile.php?id=100024556928875"><img src="{{ url_for('static', filename='FACE.png') }}" ></a>
<a href="https://github.com/Davidcardososite"><img src="{{ url_for('static', filename='GIT.png') }}" ></a>
</div>
    </footer>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const mySwiper = new Swiper('.imagens', {
                // Parâmetros de configuração do Swiper aqui
                slidesPerView: 1,
                spaceBetween: 30,
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            });
        });
    </script>
    <script src="{{ url_for('static', filename='java.js') }}"></script>
</body>
</html>
